<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fc31e17f2dd0939baed3ade2b188d2b9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_fc31e17f2dd0939baed3ade2b188d2b9" ></div>
        
</body>
<script>
    
    
            var map_fc31e17f2dd0939baed3ade2b188d2b9 = L.map(
                "map_fc31e17f2dd0939baed3ade2b188d2b9",
                {
                    center: [9.0, -74.8],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 8,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_f44a2ea0145e7e5907efabdf8cda8e4d = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_f44a2ea0145e7e5907efabdf8cda8e4d.addTo(map_fc31e17f2dd0939baed3ade2b188d2b9);
        
    
            var circle_marker_80f361859aaade4be8b1dd43b4ea5cd1 = L.circleMarker(
                [10.39972, -75.51444],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_fc31e17f2dd0939baed3ade2b188d2b9);
        
    
        var popup_72efd19751e07a511bef9da0bb50cebc = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_806ce4b36b4dc276adaff584094a5fae = $(`<div id="html_806ce4b36b4dc276adaff584094a5fae" style="width: 100.0%; height: 100.0%;">Cartagena de Indias</div>`)[0];
                popup_72efd19751e07a511bef9da0bb50cebc.setContent(html_806ce4b36b4dc276adaff584094a5fae);
            
        

        circle_marker_80f361859aaade4be8b1dd43b4ea5cd1.bindPopup(popup_72efd19751e07a511bef9da0bb50cebc)
        ;

        
    
    
            var circle_marker_7b1a0212a561d18dfd673a8409277c33 = L.circleMarker(
                [10.3319, -75.4142],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_fc31e17f2dd0939baed3ade2b188d2b9);
        
    
        var popup_c95df0c76b02e13e1e5a0cf9b4c5867b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_484d7a779215d9163749a578aeedb1a4 = $(`<div id="html_484d7a779215d9163749a578aeedb1a4" style="width: 100.0%; height: 100.0%;">Turbaco</div>`)[0];
                popup_c95df0c76b02e13e1e5a0cf9b4c5867b.setContent(html_484d7a779215d9163749a578aeedb1a4);
            
        

        circle_marker_7b1a0212a561d18dfd673a8409277c33.bindPopup(popup_c95df0c76b02e13e1e5a0cf9b4c5867b)
        ;

        
    
    
            var circle_marker_3e2fff693e7da8da25cdb336bb8efb1e = L.circleMarker(
                [10.25444, -75.34389],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_fc31e17f2dd0939baed3ade2b188d2b9);
        
    
        var popup_8e2231d31673d33ad42e083d957a8bf3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d23c524d0de9ef3c7c17216ffa20a5a1 = $(`<div id="html_d23c524d0de9ef3c7c17216ffa20a5a1" style="width: 100.0%; height: 100.0%;">Arjona</div>`)[0];
                popup_8e2231d31673d33ad42e083d957a8bf3.setContent(html_d23c524d0de9ef3c7c17216ffa20a5a1);
            
        

        circle_marker_3e2fff693e7da8da25cdb336bb8efb1e.bindPopup(popup_8e2231d31673d33ad42e083d957a8bf3)
        ;

        
    
    
            var poly_line_1ef7c2ab1cac7909dc9a8a36a0cbb5ea = L.polyline(
                [[10.39972, -75.51444], [10.3319, -75.4142], [10.25444, -75.34389]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_fc31e17f2dd0939baed3ade2b188d2b9);
        
</script>
</html>